#cart {
	position: fixed;
	top: 50px;
	right: 0;
	width: 100%;
	max-width: 350px;
	min-width: 275px;
	height: 100%;
	background-color: white;
	transition: 0.5s;
	box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3);
}
#cart.show {
	right: 0;
}
#cart-list {
	height: 80%;
	overflow-y: scroll;
}
#cart-list img {
	margin-left: 7.5px;
	width: 80%;
	height: auto;
}
#cart-list img.empty {
	margin: 0;
	position: relative;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
}
#cart-list::-webkit-scrollbar {
	width: 0 !important;
}
.cart_card {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 20px 0;
}
.cart_card div:nth-child(1) {
	grid-column: span 1;
	padding: 5px;
}
.cart_card div:nth-child(2) {
	grid-column: span 2;
}
.cart_card div:nth-child(2) span.order {
	color: #82de3a;
	height: 25px;
	border-top: solid 1px #82de3a;
	border-bottom: solid 1px #82de3a;
	margin: 0;
	padding: 2px 8px;
}
.cart_card div:nth-child(2) span.price {
	position: absolute;
	bottom: 0;
	right: 15px;
	font-weight: bold;
}
.cart_card div:nth-child(2) button {
	margin-top: 15px;
	font-weight: bold;
	color: #82de3a;
	height: 27px;
	background-color: #e6f8d8;
	border: solid 1px #82de3a;
	outline: none;
}
.cart_card div img {
	width: 100%;
	height: auto;
}
#card .cart_card div span {
	margin: 10px 10px;
}
#checkButton {
	position: absolute;
	bottom: 65px;
	width: 100%;
	right: 0;
	text-align: center;
}
#checkButton button {
	margin-top: 10px;
	width: 90%;
	height: 35px;
	color: white;
	font-weight: 700;
}
#checkButton button:nth-child(2) {
	background-color: #57cad5;
	border: solid 2px #57cad5;
}
#checkButton button:nth-child(4) {
	background-color: #f24f8a;
	border: solid 2px #f24f8a;
}
#checkButton button:nth-child(2):hover {
	background-color: white;
	color: #57cad5;
}
#checkButton button:nth-child(4):hover {
	background-color: white;
	color: #f24f8a;
}
#checkButton span {
	color: black;
}
.order {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 10px;
}
