#cart {
	position: fixed;
	top: 0;
	right: -25%;
	width: 25%;
	min-width: 275px;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	transition: 0.5s;
}
#cart.show {
	right: 0;
}
#cart-list {
	height: 80%;
	overflow-y: scroll;
}
#cart-list::-webkit-scrollbar {
	width: 0 !important;
}
#card .cart_card div span {
	margin: 10px 10px;
}
#checkButton {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%;
	right: 0;
	background-color: #29b6f6;
	padding: 10px;
}
#checkButton .button {
	margin-top: 10px;
}
