#cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	min-width: 275px;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
}
#cartList {
	margin-bottom: 150px;
}
#card .cart_card {
	display: grid;
	grid-template-columns: 3;
}
#card .cart_card div span {
	margin: 10px 10px;
}
#checkButton {
	position: fixed;
	bottom: 0;
	width: 100%;
	right: 0;
	width: 25%;
	background-color: #29b6f6;
	padding: 10px;
}
#checkButton .button {
	margin-top: 10px;
}
