#header {
	position: absolute;
	left: 30px;
	top: 10px;
	height: 50px;
	width: 70%;
}
#header * {
	line-height: 50px;
}
#header input {
	position: absolute;
	right: 10px;
	top: 12.5px;
	width: 300px;
	height: 25px;
}
#header label {
	margin-left: 30px;
	margin-right: 10px;
}
