#history {
	margin-left: 55px;
	width: 90%;
	padding: 20px;
}
#statistic {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
#statistic div {
	height: 150px;
	line-height: 150px;
	background-color: salmon;
	text-align: center;
}
