#history {
	width: 100%;
	padding: 20px;
	padding: 30px 70px;
}
#history-list {
	position: relative;
	padding: 70px 0 5px 0;
	text-align: center;
	box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.1);
	min-height: 150px;
	border-radius: 10px;
}
#history-list span {
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}
#statistic {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	justify-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
#statistic div {
	position: relative;
	width: 100%;
	height: 150px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.1);
}
#statistic div span {
	display: block;
}
#statistic div div.stat-con {
	width: fit-content;
	height: fit-content;
	box-shadow: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#statistic div.income {
	background: linear-gradient(to right, #fdd6df, #fbb2b4);
}
#statistic div.orders {
	background: linear-gradient(to right, #d4f7fd, #29dfff);
}
#statistic div.income-year {
	background: linear-gradient(to right, #eddcef, #ab84c8);
}
#header-history {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: white;
	text-align: center;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
	z-index: 40;
	font-size: 26px;
	line-height: 50px;
}
#header-history div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	text-align: center;
}
#header-history div img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
}
.topTable div {
	font-weight: bold;
}
.topTable,
.table {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
/* .purchased {
	grid-column: span 2;
} */
