#main {
	background-color: whitesmoke;
	width: 100%;
}
/* #main .cart-icon {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 5;
	width: 40px;
	height: 40px;
} */
.flex-con {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	margin-top: 50px;
	padding: 50px;
}
.flex-con .flex {
	position: relative;
	width: 300px;
	margin: 20px;
	background-color: white;
	border-radius: 5px;
}
.flex-con .flex span {
	display: block;
	width: 100%;
}
.flex-con .flex span:nth-child(1) {
	position: relative;
	height: 100px;
	overflow: hidden;
}
.flex-con .flex img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
}
.flex-con .flex div {
	position: absolute;
	top: 0;
	color: white;
	width: 100%;
	height: 100px;
	background-color: black;
	opacity: 0;
	text-align: center;
	line-height: 100px;
}
.flex-con .flex div.show {
	opacity: 0.5;
}
.product-div {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 5px 5px;
}
.product-div .xName,
.product-div .xDesc {
	display: block;
}
.product-div .xPrice {
	position: absolute;
	right: 10px;
}

#modal {
	position: fixed;
	width: 90%;
	max-width: 600px;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	z-index: 10;
	transition: 0.5s;
}
#modal img {
	position: absolute;
	top: -17.5px;
	right: -17.5px;
	width: 40px;
	height: 40px;
}
#modal.show {
	top: 50%;
}
#blackLayer {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: black;
	opacity: 0;
	transition: 0.5s opacity;
}
#blackLayer.show {
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

.addButton {
	text-align: center;
	line-height: 64px;
	font-size: 100px;
	position: fixed;
	bottom: 10px;
	right: 15px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	color: white;
	background-color: #007bff;
}
.modal-button.btn.btn-primary {
	margin-right: 20px;
}
