#main {
	background-color: whitesmoke;
	width: 100%;
	overflow-x: hidden;
}
#main .cart-icon {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 5;
	width: 40px;
	height: 40px;
}
#product-con {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	width: 100%;
	justify-items: center;
	margin-top: 50px;
	padding: 50px;
	overflow-x: hidden;
}
#product-con .product {
	position: relative;
	width: 100%;
	max-width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 5px;
}
.product-div {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 5px 5px;
}
.product-div .xName,
.product-div .xDesc {
	display: block;
}
.product-div .xPrice {
	position: absolute;
	right: 10px;
}

#modal {
	position: fixed;
	width: 90%;
	max-width: 600px;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	z-index: 10;
	transition: 0.5s;
}
#modal img {
	position: absolute;
	top: -17.5px;
	right: -17.5px;
	width: 40px;
	height: 40px;
}
#modal.show {
	top: 50%;
}
#blackLayer {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: black;
	opacity: 0;
	transition: 0.5s opacity;
}
#blackLayer.show {
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

.addButton {
	text-align: center;
	line-height: 64px;
	font-size: 100px;
	position: fixed;
	bottom: 10px;
	right: 15px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	color: white;
	background-color: #007bff;
}
.modal-button.btn.btn-primary {
	margin-right: 20px;
}
