#statistic {
	/* margin-left: 55px; */
	padding: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
#statistic div {
	/* height: 150px;
	line-height: 150px;
	background-color: #29b6f6;
	text-align: center; */
}
